# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database files
database/

# Logs
*.log
